
body {
    margin: 0;
    background: #d3bac9;
    font-family:'Poppins',
}

.container {
    display: inline-block;
    height: 250px;
    width: 1000px;
    margin: 0 auto;

}
header {
    background: #D3BAC9;
}

nav {
  

}
li {
    display: inline;
    background-color: #D3BAC9;
}
.block {
    display: inline-block;
    height: 25px;
    font-size: 18px;
    color: black;
    font-family: 'Poppins';
    text-transform: uppercase;
    
}
.left {
    float: left;
    padding: 18px;
}
.right {
    float: right;
}

.hero-text {
    height: 30px;
    display: block;
}